* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #a2a3d9;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: dimgray;
    height: auto;
    width: 100vw;
    font-family: Georgia;
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.footer-content p {
    max-width: 550px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}

.social-icons{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 10px;
    border-radius:50%;
}

.footer-bottom {
    background: rgb(94, 94, 94);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 16px;
    word-spacing: 2px;
    text-transform: capitalize;
}